.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased width */
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(23, 31, 139);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px; /* Added more space below */
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    background-color: #6a74fa; /* Changed to a softer color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #6a74fa;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
